@using SerilogExample.Core.Entities
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<title>Admin | Products</title>

@model List<Product>



<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="overview-wrap">
                        <h2 class="title-1">overview</h2>
                        <button class="au-btn au-btn-icon au-btn--blue">
                            <i class="zmdi zmdi-plus"></i>Add new Product
                        </button>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    @if (Model is not null)
                    {
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Product Name</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Delete</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@item.Id</th>
                                        <td>
                                            <img src="@item.Image" height="100px" width="100px" />
                                        </td>
                                        <td>@item.Name</td>
                                        <td>@item.Category</td>
                                        <td>@(item.Id * Random.Shared.Next(10, 100)) AZN</td>
                                        <td>
                                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id" asp-area="admin" asp-controller="product">Delete</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                            Have not any product yet!
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

